header{
	display: flex;
	flex-direction: column;
}
#headerText{
	min-height: 8em;
	text-align: center;
}
header hr{
	width:100%;
	padding:0px;
	margin:0px;
}
#nav{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
#nav a{
	color:black;
	text-decoration: none;
	width:33%;
	height:20px;
	padding:5px;
	text-align: center;
	border-left:1px solid black;
	border-right:1px solid black;
}
#nav a:hover{
	background-color: lightgrey;
}
.parallax1 { 
	margin:-10px;
	margin-top:10px;
	padding:10px;
	background-image: url("../Data/Photos/img (1).JPG");
	height: 500px; 
	background-attachment: fixed;
	background-position: left center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}
.parallax1 a{
	color:white;
	width:100px;
	height:20px;
	text-align: center;
}
.parallax1 a:hover{
	color:grey;
}
footer{
	width:97%;
	padding:20px;
	margin:0px;
	background-color: lightgrey;
	text-align: center;
}
.icons a{
	padding:15px;
	background-repeat: no-repeat;
	background-size: contain;
	background-color: none;
	background-position: center;
}
a#ig{
	background-image: url(Data/Icons/insta.png);
}
a#eMail{
	background-image: url(Data/Icons/email.png);
}
a#ig:hover{
	background-image: url(Data/Icons/instaHover.png);
	cursor: pointer;
}
a#eMail:hover{
	background-image: url(Data/Icons/emailHover.png);
	cursor: pointer;
}