header{
	display: flex;
	flex-direction: column;
}
#headerText{
	min-height: 8em;
	text-align: center;
}
header hr{
	width:100%;
	padding:0px;
	margin:0px;
}
#nav{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
#nav a{
	color:black;
	text-decoration: none;
	width:33%;
	height:20px;
	padding:5px;
	text-align: center;
	border-left:1px solid black;
	border-right:1px solid black;
}
#nav a:hover{
	background-color: lightgrey;
}
.parallax1 { 
	margin:-10px;
	margin-top:10px;
	padding:10px;
	background-image: url("../Data/Photos/img (1).JPG");
	height: 500px; 
	background-attachment: fixed;
	background-position: left center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}
.parallax1 a{
	color:white;
	width:100px;
	height:20px;
	text-align: center;
}
.parallax1 a:hover{
	color:grey;
}
footer{
	width:97%;
	padding:20px;
	margin:0px;
	background-color: lightgrey;
	text-align: center;
}
.icons a{
	padding:15px;
	background-repeat: no-repeat;
	background-size: contain;
	background-color: none;
	background-position: center;
}
a#ig{
	background-image: url(Data/Icons/insta.png);
}
a#eMail{
	background-image: url(Data/Icons/email.png);
}
a#ig:hover{
	background-image: url(Data/Icons/instaHover.png);
	cursor: pointer;
}
a#eMail:hover{
	background-image: url(Data/Icons/emailHover.png);
	cursor: pointer;
}
#paraText{
	margin:30px;
	width:200px;
	text-align: center;
}
#indexAboutMe{
	margin:50px;
	width:97%;
	height:auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
}
#indexAboutMe h5{
	align-self: flex-start;
}
#indexAbout{
	text-align: center;
	width:350px;
	margin-top:20px;
	margin:10px;
}
#indexAbout p{
	color:darkgrey;
	font-size: 18px;
}
#indexAboutAside img{
	height:auto;
	width:260px;
	margin:20px;
}
#indexAboutAside p{
	width:260px;
	text-align: center;
	margin:20px;
	margin-top:5px;
}
@media screen and (min-width: 600px) {
    section#indexSection {
        display: flex;
        flex-direction: column;
    }
}
#indexAboutPortfolio{
	width:97%;
	height:auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin:20px;
}
#indexAboutPortfolio img{
	height:300px;
	width:auto;
	margin:20px;
}
#portfolioAbout{
	width:300px;
	text-align: center;
}
#portfolioAbout p{
	color:darkgrey;
	font-size: 18px;
}
#portfolioAbout button{
	height:30px;
	width:150px;
	border:1px solid grey;
	background-color: darkgrey;
	border-radius: 3px;
}
#portfolioAbout button:hover{
	border-color: darkgrey;
	background-color: grey;
}
#parallax2{
	margin:-10px;
	margin-top:10px;
	margin-bottom: 10px;
	padding:10px;
	background-image: url("../Data/Photos/img (42).JPG");
	height: 500px; 
	background-attachment: fixed;
	background-position: left center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}
img.indexImage {
	border-radius: 3px;
}